html,
body {
  background-color: #2e313b;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.3rem;
  padding: 30px;
}
a:link {
  color: white;
  font-weight: bold;
}

a:visited {
  color: #c7782f;
  font-weight: bold;
}

.collaborators a {
    padding-bottom: 0.25em;
}

.collaborators a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23333333' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 100%;
  background-size: auto 3px;
  background-repeat: repeat-x;
  text-decoration: none;
}
